input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 34px;
}

body {-webkit-text-size-adjust: none;}

#header {
    height: 10vh;
    min-height: 90px;
    max-height: 130px;
    background-color: #253d51;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0
}

#mainlogo {
    height: 60px;
    margin-left: 40px;
    margin-top: 4px;
}

#backtext {
    margin-top: 2px;
    transition: 0.2s;
    margin-right: 40px;
}
#backtext:hover {
    transform: scale(1.05);
}

#spacer {
    height: 10vh;
    min-height: 90px;
    max-height: 140px;
}

#content {
    width: 100vw;
    height: 90vh;
}

#infobox {
    width: calc(100% - 80px);
    height: 120px;
    padding-left: 40px;
    padding-right: 40px;
}

#info {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #253d51;
    font-size: 34px;
    user-select: none;
    text-align: center;
}

.stepheader {
    background-color: #e9e6e3;
    height: 70px;
}

.stepdesc {
    margin-top: -12px;
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
}

.steptext {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #253d51;
    font-size: 34px;
    user-select: none;
    text-align: center;
}

#step1 {
    text-align: center;
    margin-bottom: 60px;
}

#step2 {
    text-align: center;
    margin-bottom: 80px;
}

#step3 {
    text-align: center;
}

#fields {
    text-align: left;
    width: 558px;
    margin-left: calc(50vw - 279px);
    margin-bottom: 90px;
}

.inputtext {

    font-weight: 400;
    color: #253d51;
    font-size: 34px;
    margin-left: 12px;
    float: right;
    margin-top: 8px;
}

#endmsg {
    width: calc(100% - 170px);
    box-sizing: border-box;
}

#sendbtn {
    margin-top: 5px;
    margin-bottom: 14px;
    border-width: 6px;
    border-style: solid;
    border-color: #ef4637;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #253d51;
    font-size: 36px;
    user-select: none;
    text-align: center;
    line-height: 70px;
    background-color: #fff;
    width: 300px;
}

#sigcontainer {
        width: 620px;
        margin-left: calc(50% - 320px);
        -webkit-box-shadow: 0px 5px 16px -7px rgba(84,84,84,1);
        -moz-box-shadow: 0px 5px 16px -7px rgba(84,84,84,1);
        box-shadow: 0px 5px 16px -7px rgba(84,84,84,1);
        border-style: solid;
        border-width: 4px;
        border-color: #253d51;
        padding-left: 5px;
}

#finishedsig {
    text-align: left;
}

#images {
    margin-top: 40px;
}

.tutimage {
    width: 70vw;
    border-style: solid;
    border-width: 2px;
    border-color: #253d51;
    margin-top: 10px;
}

.tuttext {
    margin-top: -4px;
}

#endspacer {
    height: 60px;
    width: 100px;
    background-color: #fff;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 40px;
    user-select: none;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #253d51;
    font-size: 42px;
    user-select: none;
    text-align: center;
    line-height: 70px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #253d51;
    font-size: 36px;
    user-select: none;
    text-align: center;
    line-height: 70px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #253d51;
    font-size: 46px;
    user-select: none;
    text-align: center;
    line-height: 70px;
}

.inputname {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #253d51;
    font-size: 34px;
    user-select: none;
    line-height: 70px;
}

* {
    -webkit-overflow-scrolling: touch;
}

.shakein {
    animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-3px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(5px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-9px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(9px, 0, 0);
    }
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 42px;
  }